<h1>Listing test_classes</h1>

<table>
  <tr>
    <th>String</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_classes.each do |test_class| %>
  <tr>
    <td><%= test_class.string %></td>
    <td><%= link_to 'Show', test_class %></td>
    <td><%= link_to 'Edit', edit_test_class_path(test_class) %></td>
    <td><%= link_to 'Destroy', test_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test class', new_test_class_path %>
